body {
    background-color: #c7c7c7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    background-color: transparent;
}

.main-title {
    /* margin: auto; */
    position: fixed;
    text-align: center;
    z-index: 10000;
    left: 5%;
}

.game-content {
    position: fixed;
    /* background-color: #59accf; */
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
}

.tooltip {
    position: relative;
}

.tooltip .tooltip-text {
    left: 30px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: max-content;
    background-color: rgb(222, 222, 222);
    color: black;
    border: 1px solid black;
    text-align: left;
    padding: 5px 5px;
    border-radius: 6px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.disconnected {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.connected {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 3px;
}

.informal {
    background-color: grey;
    color: black;
    border-radius: 5px;
    padding: 3px;
}

.close-button {
    background-color: red;
    border-radius: 20%;
    color: white;
    padding: 5px 10px;
    border: none;
}

.close-button:active {
    background-color: white;
    color: red;
    border: red 1px solid;
}

.primary {
    background-color: rgb(85, 85, 233);
    border-radius: 5%;
    color: white;
    padding: 5px 10px;
    border: none;
}

.primary:active {
    background-color: white;
    color: rgb(85, 85, 233);
    border: 1px rgb(85, 85, 233) solid;
}

.second {
    background-color: white;
    border-radius: 5%;
    color: green;
    padding: 5px 10px;
    border: 1px green solid;
}

.second:active {
    background-color: green;
    color: white;
}